<div>
    {{section.settings.footer_linklist_title}}
</div>


{%schema%}
{
    "name": "custom section",
    "settings": [
        {
  "type": "text",
  "id": "footer_linklist_title",
  "label": "Heading",
  "default": "Quick links"
 }
]
}
{%endschema%}