<div class="test-container">

{% assign country = "Bangladesh" %}

  <h3>I love {{  country  | upcase }} </h3>

  {% assign number1 = 10 %}
  {% assign number2 = 5 %}

  <p>Addition is {{ number1 | plus: number2 }}</p>

  
</div>


<style>
  .test-container {
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
  }
</style>