<div class="test-container">
<h1>Learning liquid</h1>
</div>


<style>
  .test-container {
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
  }
</style>