<div class="test-container">

  {% assign country = "Bangladesh" %}
{{ "I love my" country | upcase }}
</div>


<style>
  .test-container {
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
  }
</style>